<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".CansApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name="cc.cans.canscloud.demoappinsdk.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name"
            android:theme="@style/Theme.CansCloudAndroidSDK">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".call.CallActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@style/Theme.CansCloudAndroidSDK"/>

        <activity
            android:name=".call.IncomingActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.CansCloudAndroidSDK"/>

        <activity
            android:name=".call.OutgoingActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.CansCloudAndroidSDK"/>

        <receiver
            android:name=".notifaication.AnswerCallReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".notifaication.DeclineCallReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>